<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Black</string>
		<string>SF-Pro-Display-Bold</string>
		<string>SF-Pro-Display-Heavy</string>
		<string>SF-Pro-Display-Light </string>
		<string>SF-Pro-Display-Medium</string>
		<string>SF-Pro-Display-Regular</string>
		<string>SF-Pro-Display-Semibold</string>
		<string>SF-Pro-Display-Thin</string>
		<string>SF-Pro-Display-Ultralight</string>
	</array>
</dict>
</plist>
